.vpn {
	background-color: #EAF5FF;
	border-radius: 10px;
	box-shadow: 1px 1px 8px #010;
	transition: all 0.5s ease 0.1s;
	margin: 0 2% 2% 2%;
	padding: 1em;
	
	overflow: hidden;
	
	float: left;
	width: 40%;	
}
.vpn:hover {
	box-shadow: 1px 1px 8px #080;
}

.vpn div {
	line-height: 2em;
}

.vpn .action {
	float: right;
	position: relative;
	transition: all 0.3s ease 0.1s;
	text-align: right;
	margin-right: -15em;
	min-width: 15em;
}
.vpn .action a {
	line-height: 2em;
	padding: 0.5em 2em 0.5em 1em;
	border-radius: 10px;
	transition: all 0.3s ease-in 0.01s;
	background-color: #C4D0E6;
	display: block;
	font-weight: bold;
	margin-top: 2px;
}
.vpn .action:hover {
	margin-right: -2em;
	min-width: 2em;
	position: relative;
}
.vpn .action a:hover {
	background-color: #4FC573;
	
}

.vpn .username, .vpn .password {
	font-size: 1.2em;
	font-weight: bold;
	color: #5B41DE;
}

.vpn .subtitle {
	font-weight: bold;
}

.vpn .percentbar {
	border: 1px solid #888;
	border-radius: 5px;
	background-image: url("../imgs/percentbar.png");
	background-repeat: no-repeat;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	font-weight: bold;
}

.passinput {
}


.footer {
	clear: both;
}
