html {
	width: 80%;
	margin-left: 10%;
	background-color: #D2E6FF;
}
body {
	font-size: 14px;
	box-shadow: 2px 2px 15px #000;
	background-color: #fff;
	margin: 0;
	height: 100%;
	padding: 1rem;
	border-radius: 5px;
}
a {
	text-decoration: none;
	outline: none;
}
nav {
	font-size: 1rem;
	margin: 1rem 0;
	background-image: url("../imgs/nav_bg.png");
	background-repeat: repeat-x;
	line-height: 45px;
	border-radius: 5px;
	padding: 0 2rem;
	overflow: hidden;
}
nav a {
	height: 45px;
	font-weight: bold;
	color: #fff;
	padding: 0 10px;
	text-shadow: 1px 1px 1px #003;
	transition: all .1s linear .1s;
	padding: 15px 1rem;
}
nav a:hover {
	text-shadow: none;
	color: #afa;
	background-color: #285A86;
}

nav a:hover .usercredit {
	opacity: 0.9;
	color: #000;
}

.usercredit {
	position: absolute;
	border: 1px solid #3E9658;
	background-color: #DEFFE3;
	transition: all 0.5s ease 0.01s;
	border-radius: 5px;
	opacity: 0;
	color: #000;
	margin-top: -0.5em;
	padding: 0.5em;
	text-shadow: none;
	line-height: 1.5em;
}
.usercredit span {
	float: right;
}

.barner {
	font-size: 3rem;
}
.barner .logo {
	font-weight: bold;
}


.submitform {
	text-align: center;
}
.submitform .submiterror {
	color: #f00;
	text-shadow: -1px -1px 0 #fcc;
	border-radius: 3px;
	background-color: #FFEFEE;
	margin: 1.5em 30% 1.5em 30%;
	width: 40%;
	padding: 0.8em;
	text-align: left;
}

.submitform .formtitle {
	color: #888;
	font-size: 2.5rem;
	border-bottom: 1px inset #888;
	margin: 0.5rem 0 1rem 0;
	padding-bottom: 0.3rem;
	width: 40%;
	margin-left: 30%;
	text-shadow: 1px 1px 2px #999;
	opacity: 0.8;
}

form {
	width: 26%;
	min-width: 150px;
	margin-left: 37%;
	text-align: left;
}

form .desc {
	margin-top: 0.6rem;
	font-weight: bold;
}

form input {
	margin: 0.3rem 0 0.3rem 0;
}

form .inputtext {
	width: 100%;
	transition: all .2s ease-in .01s;
}
form .inputtext:focus {
	box-shadow: 0 0 8px #8DFF97;
}


.cell .title {
	color: #888;
	font-size: 1.5rem;
	border-bottom: 1px inset #888;
	margin: 0.5rem 0 1rem 0;
	padding-bottom: 0.3rem;
	width: 44%;
	margin-left: 28%;
	text-shadow: 1px 1px 2px #999;
	opacity: 0.8;
	padding-left: 2%;
}
.cell .tip {
	color: #33f;
	text-shadow: -1px -1px 0 #ccf;
	border-radius: 8px;
	background-color: #DEEEFD;
	margin: 1.5em 30% 1.5em 30%;
	width: 40%;
	padding: 0.8em;
	text-align: left;
}
.cell .subcell {
	width: 40%;
	min-width: 150px;
	margin-left: 30%;
	text-align: left;
}


.footer {
	margin-bottom: -1.5rem;
	margin-top: 1.5rem;
}
