{append var="css" value="css/account.css"}
{append var="js" value="js/jquery.js"}
{append var="js" value="js/account.js"}
{include file="header.html"}

<h3>{_("My VPN account")}</h3>
{if {$vpns|count} > 0}
	{foreach $vpns as $vpn}
	<div class="vpn">
		<div class="action">
			<a href="account_renew.php?vpnid={$vpn.id}">{_("Renew")}</a>
			<a href="#" onclick="passwd({$vpn.id});return false;">{_("Change Password")}</a>
		</div>
		
		<div>{_("VPN username:")} <span class="username">{$vpn.username}</span></div>
		<div id="passinfo_{$vpn.id}">{_("VPN password:")} <span class="password" id='pass_{$vpn.id}'>{$vpn.password}</span></div>
		<div id="changepass_{$vpn.id}" style="display: none;">
			<span style="font-weight: bold;">{_("Input new password:")}</span>
			<input type="text" size="10" value="" class="passinput" id="passinput_{$vpn.id}" onblur="passinput_blur({$vpn.id})" onkeypress="passinput_keypress(this, {$vpn.id})" />
		</div>
		
		<div class="subtitle">{_("Usage statistic of this month:")}</div>
		<div>{_("Download: {$vpn.stat_monthly.inbandstr} Upload: {$vpn.stat_monthly.outbandstr}")}</div>
		<div class="percentbar" style="background-size: {$vpn.stat_monthly.percentused}% 100%;">{_("{$vpn.stat_monthly.usedbandstr} ({$vpn.stat_monthly.percentused}%) of {$vpn.totalbandstr} used")}</div>
		<div>{_("Total online time:")} <span class="data">{$vpn.stat_monthly.onlinetimestr}</span></div>
		<div>
			{_("Expire before {$vpn.validtostr}, ")} 
			
			{if {$vpn.daysleft} <= 0}
				<span style="color: #f00;">{_("expired")}</span>
			{else}
				{_("about {$vpn.daysleft} days left")}
			{/if}
		</div>
	</div>
	{/foreach}
{else}
	<div class="buyone">
		{_("You don't have any VPN account yet, <a href='account_new.php'>click here to buy one</a>. Remember you can pay any cent for it if you have enough credits.")}
	</div>
{/if}

{include file="footer.html"}
