<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{$title} - {$SITE_NAME}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="css/main.css" type="text/css" media="all" />
		
		{foreach $css as $item}
		<link rel="stylesheet" href="{$item}" type="text/css" media="all" />
		{/foreach}
		
		{foreach $js as $item}
		<script type="text/javascript" src="{$item}"></script>
		{/foreach}
	</head>
	<body>
		<a class="barner" href="/">
			Sea<span style="logo">VPN</span>
		</a>

		<nav>
			{if $user.email != ''}
			<a href="userpass.php">
				{$user.email}
				<div class="usercredit">
					<div>{_("Balance:")} <span>{$user.balance_dollar}</span></div>
					<div>{_("Credits:")} <span>{$user.credit_dollar}</span></div>
				</div>
			</a>
			<a href="logout.php">{_("Log Out")}</a>
			{else}
			<a href="login.php">{_("Log In")}</a>
			<a href="reg.php">{_("Register")}</a>
			{/if}
			
			<a href="account.php">{_("VPN Account")}</a>
			
			{if $user.email != ''}
				<a href="server.php">{_("Servers")}</a>
				
				{if $INVITECODE_ENABLED == 1}
				<a href="invitecode.php">{_("Invites")}</a>
				{/if}
			{/if}
			
			<a href="help.php">{_("Help")}</a>
		</nav>
